absl-py
accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
audioread
babel
beautifulsoup4
bleach
blinker
blis>=1.3.0
brown
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
comm
confection
contourpy
Corpus
cors
cycler
cymem
dataclasses-json
debugpy
decorator
defusedxml
distlib
executing
fastapi
fastjsonschema
ffmpy
filelock
Flask
flatbuffers
fonttools
fqdn
frozenlist
fsspec
future
gast
gevent
google-pasta
gradio
gradio_client
greenlet
grpcio
h11
h5py
httpcore
httptools
httpx
httpx-sse
huggingface-hub
idna
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kaggle
kagglehub
kiwisolver
lab

langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langcodes
langsmith
language_data
lazy_loader
libclang
librosa
llvmlite
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
ml_dtypes
mpmath
msgpack
multidict
murmurhash
mypy_extensions
namex
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numpy
opt-einsum
orjson
outcome
overrides
packaging
pandas
pandocfilters
parso
Pillow
platformdirs
plotly
pooch
praw
prawcore
preshed
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
pure_eval
py4j
pyarrow
pycparser
pydantic
pydantic-settings
pydantic_core
pydub
Pygments
PyJWT
pylance
PyMuPDF
pyparsing
pyshark
PySocks
python-dateutil
python-dotenv
python-json-logger
python-multipart
python-slugify
pytz
PyYAML
pyzmq
redis
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
ruff
safehttpx
safetensors
scikit-learn
scipy
seaborn
selenium
semantic-version
Send2Trash
sentence-transformers
setuptools
shellingham
simplejson
six
smart-open
sniffio
sortedcontainers
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
spotipy
SQLAlchemy
srsly
stack-data
starlette
sympy
tenacity
termcolor
terminado
text-unidecode
thinc
threadpoolctl
tinycss2
tldextract
tokenizers
tomlkit
torch
torchvision
tornado
tqdm
traitlets
transformers
trio
trio-websocket
txt2tags
typer
types-python-dateutil
typing-inspect
typing-inspection
typing_extensions
tzdata
update-checker
uri-template
urllib3
uvicorn
virtualenv
voila
wasabi
watchfiles
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
wordcloud
wrapt
wsproto
yarl
zope.event
zope.interface
zstandard
